<p>Nombres</p>

<p>Armando Huarcaya Anco  76765454</p>


<table table-responsive class="table-pagination">


                        <thead md-on-reorder="onReorder">
                        <tr>
                            <th>#</th>
                            <th class="col-hidden">valor de venta</th>
                            <th class="col-hidden">precio de venta</th>
                            <th class="col-hidden">igv</th>
                        </tr>
                        </thead>
                        <tbody ng-controller="ReservaCtrl">
                        <tr ng-repeat="d in gui">
                            <td> {{  1 +$index }} </td>
                            <td>{{ d.a }}</td>
                            <td>{{ d.b }}</td>
                            <td>{{ d.c }}</td>
                        </tr>
                        </tbody>

                    </table>
 		<md-button class="md-accent md-fab md-fab-top-right" ng-href="http://127.0.0.1:8000/comprobante/voleta">
 			<md-tooltip md-autohide>Descargar PDF</md-tooltip>
        	<ng-md-icon icon="build" aria-label="Add"></ng-md-icon>
      	</md-button>



 <section layout="row" layout-sm="column" layout-align="left" layout-wrap>
      <md-button class="md-raised md-primary" href="http://localhost:9003/#!/acuerdos/acuerdos/page-main">Salir</md-button>
    </section>