<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <form name="dForm" role="form" ng-controller="CategoriaSectorSaveCtrl">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="media/img/list/60.jpeg" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-headline">Catalogo dd</span>
                            <span class="md-subhead">Trabajar con Catalogo</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Nombre </label>
                                <input name="cat_sect_nombre" ng-model="categoriaSector.cat_sect_nombre" required>
                                <div ng-messages="dForm.cat_sect_nombre.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>

                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Descripcion</label>
                                <input name="cat_sect_descripcion" ng-model="categoriaSector.cat_sect_descripcion" required>
                                <div ng-messages="dForm.cat_sect_descripcion.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            
                        </div>
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="toggle">
                                <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">Cancel</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="categoriaSector.id == null">Create</span>
                            <span ng-show="categoriaSector.id">Update</span>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </md-content>
</div>
